.comment

  = user_picture comment.user, :small

  %p
    %span.author  #{link_to_author comment.user}
    %span.description #{comment.message}

  %ul.menu
    %li.date-created
      #{time_ago_in_words comment.created_at} ago
    %li
      = render partial: 'likables/likable', locals: { likable: comment }
    - unless (liking_users = format_liking_users(comment)).blank?
      %li.liking-users
        = liking_users

