= form_tag create_comment_url, class: 'create-comment' do
  = hidden_field_tag :commentable_id, commentable.id
  = hidden_field_tag :commentable_type, commentable.class.name

  .uiTextInputWrapper
    = text_field_tag :comment_text
    = submit_tag "Add Comment", class: [:uiButton, :uiButtonConfirm]
