= form_for (@comment ||= Comment.new), url: create_comment_url do |form|

  = hidden_field_tag :commentable_id, commentable.id
  = hidden_field_tag :commentable_type, commentable.class.name

  = render partial: "layouts/common/validation_errors", locals: { model: @comment }

  .uiTextInputWrapper
    = form.text_field :message, { placeholder: "Write comment…" }
    = form.submit "Add Comment", class: [:uiButton, :uiButtonConfirm]
