<%= render 'people/search' %>

<h1><%= person.name %></h1>

<h2>About <%= person.name %></h2>
<dl>
  <dt>ID</dt>
    <dd><%= person.id %></dd>
  <dt>Name</dt>
    <dd><%= person.name %></dd>
</dl>

<%= render partial: 'walls/wall', locals: { wall: person.wall } %>