.island

  %h1= person.name
  = render partial: 'people/manage_friend', locals: { person: person }

  %h2 About #{person.name}
  %dl
    %dt ID
    %dd= person.id
    %dt Name
    %dd= person.name

  = render partial: 'people/friends_list', locals: { person: person }
  -#= render partial: 'walls/wall', locals: { wall: person.wall }


  = render partial: 'status_posts/new', locals: { receiver: person }
  = render partial: person.posts.reverse, as: :post
