<p>

  <% if wall.person != sharable.person %>

       <%= link_to sharable.person.name, person_url(sharable.person) %> »

  <% end %>

  <%= link_to wall.person.name, person_url(wall.person) %>
  <br />
  <%= sharable.description %>
  <%= link_to 'view', status_sharable_url(sharable) %>
  <br />
  <small><%= sharable.created_at.strftime 'On %d-%m-%Y at %H:%M' %></small>
</p>