<h1>Status</h1>

<p>
  <%= link_to sharable.person.name, person_url(sharable.person) %>
  <br />
  <%= sharable.description %>
  <br />
  <small><%= sharable.created_at.strftime "On %d-%m-%Y at %H:%M" %></small>
</p>

<h2>Comments</h2>

<%= render partial: sharable.comments, as: :comment %>
<%= render partial: "comments/new", locals: { commentable: sharable } %>
