#side-content

  = render partial: "users/sidebar", locals: { user: user }

#main-content
  .island

    = render partial: 'users/manage_friend', locals: { user: user } if user_signed_in?

    %h1= user.name

    %dl
      %dt ID
      %dd= user.id
      %dt Name
      %dd= user.name

    = render partial: 'status_posts/new', locals: { receiver: user } if can? :create_posts, user
    = render partial: user.posts, as: :post if can? :view_posts, user
