#full-content
  .island

    %ul.top-controls.menu
      - if can? :add_photo, album
        %li= link_to "Add photo", new_photo_url(album), class: [:uiButton, :uiButtonLarge]
      - if can? :destroy, album
        %li= link_to "Delete album", destroy_album_url(album), class: [:uiButton, :uiButtonLarge], method: :delete, confirm: "Are you sure you want to delete this album and all its contents?"

    %h1= album.title

    %p
      = link_to "Photo's of #{album.created_by.name}", albums_url(album.created_by)
      |
      = link_to "Profile of #{album.created_by.name}", user_url(album.created_by)


    - unless album.media.blank?

      .photos
        - for photo in album.media.desc(:_id)
          %a.photo{ href: photo_url(photo) }
            = image_tag photo.image.thumb('175x130#').url unless photo.image.nil?

    - else

      .no-results
        There aren't any photo's in this album yet. Go ahead and
        = link_to "add one!", new_photo_url(album)
