= form_for (@status_post ||= StatusPost.new), url: create_status_post_url do |form|

  = render partial: "layouts/common/validation_errors", locals: { model: @status_post }

  = hidden_field_tag :receiver_id, receiver.id

  .uiTextInputWrapper
    = form.text_field :description, placeholder: "What's keeping you busy?"
    = form.submit "Share", class: [:uiButton, :uiButtonConfirm]
%br