%fieldset
  %p
    - unless wall.person == post.person
      #{link_to post.person.name, person_url(post.person)} »

    #{link_to wall.person.name, person_url(wall.person)}
  %p
    = post.description
    = link_to 'view »', status_post_url(post)
    %br
    = post.created_at.strftime 'On %d-%m-%Y at %H:%M'

  = render partial: "likables/likable", locals: { likable: post }
  = render partial: "commentable/commentable", locals: { commentable: post }