.post.status-post
  %p
    - unless post.persons.first == post.persons.last
      #{link_to_author post.persons.first } »
    #{link_to_author post.persons.last }
  %p
    = post.description

  %ul.menu
    %li.date-created
      = post.created_at.strftime 'On %d-%m-%Y at %H:%M'
    %li
      = render partial: "likables/likable", locals: { likable: post }

  .reactions
    - unless (liking_persons = format_liking_persons(post)).blank?
      .liking-persons= liking_persons

    = render partial: "commentable/commentable", locals: { commentable: post }
