<!DOCTYPE html>
<html class="cols-12">
<head>
  <title>Buddylist</title>
  <%= stylesheet_link_tag    "inuit" %>
  <%= stylesheet_link_tag    "12-col" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="wrapper">
    <div class="header">
      <a href="/" class="logo">
        <%= image_tag "rails.png", {:class => "logo"} %>
      </a>
    </div>
  <%= render 'users/menu' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</body>
</html>
