!!! 5
%html

  %head

    %meta{ charset: "UTF-8" }
    %title Fauxbook
    = stylesheet_link_tag "application"
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery_ujs"
    = javascript_include_tag "jquery-ui"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    %header#header
      .container
        .side
          %a#logo{ href: root_url }
            = image_tag "fauxbook-logo.png"

          - if user_signed_in?

            %ul#notification-center.menu
              %li
                %a.friend-requests{ href: friend_requests_url }
                  - unless (request_count = current_user.friend_requests.length) == 0
                    %span.badge= request_count
                  %span.icon.small.friend-requests
              %li
                %a.notifications{ href: notifications_url }
                  - unless (unread_notifications = current_user.unread_notifications.size) == 0
                    %span.badge= unread_notifications
                  %span.icon.small.notifications
        .main
          = render partial: "users/search"
          = render partial: "users/menu"

    #content.container

      - unless alert.nil? && notice.nil?
        .notifications
          - unless alert.nil?
            .message.warning= alert
          - unless notice.nil?
            .message.info= notice
      = yield

    %footer#footer
      .container
        %p
          © 2011 - Awesomeness by
          #{link_to "Danny Cobussen", "http://www.facebook.com/dannycobussen"},
          #{link_to "Mitchel Kuijpers", "http://www.facebook.com/mitchel.kuijpers"}
          and
          #{link_to "Teun van Vegchel", "http://www.facebook.com/teunvanvegchel"}.
          Big thanks to #{link_to 'Facebook', "http://www.facebook.com"}.
